[Unit]
Description=Clipper ~ Clipboard proxy
After=copyq.service

[Service]
ExecStart=%h/go/bin/clipper
Restart=always

[Install]
WantedBy=xsession.target
