[Unit]
Description=Dolphin Daemon
After=xorg.target

[Service]
ExecStart=/usr/bin/dolphin --daemon
RestartSec==5
Restart=on-failure

[Install]
WantedBy=xsession.target