[Unit]
Description=Easyeffects daemon

[Service]
Type=simple
ExecStart=/usr/bin/easyeffects --gapplication-service

[Install]
WantedBy=xsession.target