[Unit]
Description=IMWheel
Wants=graphical.target
After=graphical.target

[Service]
Type=oneshot
Environment=XAUTHORITY=%h/.Xauthority
ExecStart=/usr/bin/imwheel -d -b '4567'
ExecStop=/usr/bin/pkill imwheel
RemainAfterExit=yes

[Install]
WantedBy=xsession.target