[Unit]
Description=Laptop keymap; Running service: xcape

[Service]
# Only key events without keyboard info can be listened to in X, so xcape effects globally
# This service should not run when external keyboard is connected

ExecStartPre=/bin/sh -c 'setxkbmap -option "altwin:swap_alt_win" -option "ctrl:nocaps" -I"%h/.xkb" -keycodes "evdev+aliases(qwerty)+local" -compat "local" local -print | xkbcomp -w 0 -I"%h/.xkb" - $$DISPLAY'
ExecStart=/usr/bin/xcape -d -e "Control_L=Escape;Control_R=Escape;Overlay1_Enable=space;#64=F7;#133=F7"
ExecStop=/bin/setxkbmap -option