[Unit]
Description=Set Wallpaper
After=xorg.target

[Service]
Environment==DISPLAY=:0
ExecStart=/usr/bin/nvidia-settings --load-config-only
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=xsession.target

