[Unit]
Description=Load nvidia settings

[Service]
ExecStart=/usr/bin/nvidia-settings --load-config-only
Type=oneshot

[Install]
WantedBy=xsession.target

