[Unit]
Description=Sevices which requires X11
Requires=i3-session.target
After=i3-session.target suspend.target hibernate.target

[Install]
WantedBy=default.target