[Unit]
Description=Xset settings

[Service]
ExecStart=/usr/bin/xset r rate 350 22
ExecStartPost=/usr/bin/xset s off
Type=oneshot

[Install]
WantedBy=xsession.target