configuration {
	modi: 			"drun,run";
	width: 			750;
	lines: 			13;
	font: 			"san serif medium 18";
	show-match: 		false;
	separator-style: 	"solid";
	hide-scrollbar: 	true;
  {{- if eq .global.theme "light"}}
	theme:			".config/rofi/gruvbox-light-soft";
{{- else}}
	theme:			".config/rofi/nord";
{{- end}}
	}