icons = "awesome"

[theme]
{{if (eq .global.theme "light")}}
name = "solarized-light"
{{else}}
name = "nord-dark"
{{end}}
[theme.overrides]
separator = ""

[[block]]
block = "networkmanager"
interface_name_exclude = ['br\-[0-9a-f]{12}', 'docker\d+']
interface_name_include = []
[block.theme_overrides]
{{if (eq .global.theme "light")}}
good_bg = "#fdf6e3" # base3
good_fg = "#586e75" # base01
{{else}}
good_bg = "#2e3440" # nord0
good_fg = "#81a1c1" # light blue
{{end}}

[[block]]
block = "net"
format = "{speed_down;K} {graph_down;K} {speed_up;K} {graph_up;K}"
interval = 5
[block.icons_overrides]
net_wired = ""
net_wireless = ""
net_vpn = ""
net_loopback = ""

[[block]]
block = "memory"
display_type = "memory"
format_mem = "{mem_used_percents}"
format_swap = "{swap_used_percents}"
# [block.theme_overrides]
# idle_bg = "ffffff"

# [[block]]
# block = "temperature"
# collapsed = false
# interval = 10
# format = "{min}° min, {max}° max, {average}° avg"
# chip = "*-acpi-*"

[[block]]
block = "cpu"
interval = 3


[[block]]
block = "disk_space"
path = "/"
alias = "/"
info_type = "available"
unit = "GB"
interval = 1800
warning = 20.0
alert = 10.0
format = "{icon} {available}"


[[block]]
block = "sound"

[[block]]
block = "time"
interval = 60
format = "%a %m/%d/%Y %R"
