(when spacemacs--cur-theme
  (disable-theme spacemacs--cur-theme))
{{if (eq .global.theme "light")}}
(spacemacs/load-theme 'solarized-light)
(setq frame-background-mode 'light)
{{else}}
(spacemacs/load-theme 'sanityinc-tomorrow-night)
(setq frame-background-mode 'dark)
{{end}}
(mapc 'frame-set-background-mode (frame-list))
(cnfonts-increase-fontsize)
(cnfonts-decrease-fontsize)
